.QuestionOrPoll{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;    
    position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 63vw;
height: 50vh;
background-color: rgb(255, 255, 255);
border-radius: 10px;
font-family: Poppins;
font-size: 2vw;
font-weight: 500;
line-height: 37.5px;
color: #9F9F9F;

                                               
}




.QuestionOrPoll div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 25%;

}
.QuestionOrPoll input{
    width: 88%;
    height: 81px;
    margin-right: 6%;
    margin-top: 5%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 25px 0px #00000026;
    font-size: 2vw;
    font-family: Poppins;

    font-weight: 500;
    line-height: 37.5px;
        color: #9F9F9F;

}
  
  .QuestionOrPoll input::placeholder {
    font-family: Poppins;
font-weight: 500;
line-height: 37.5px;
font-size: 2vw;
    color: #9F9F9F; 
  }
.QuizType p{
    width:24%;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 0px #00000026;

}
.QuestionOrPollBtn button{
    width: 18vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 1vw;

}
button{
    all: unset;
}


                                                                                                        

.Question{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 85vh;
    background-color: white;
    border-radius: 10px;
    
}

.AddQuestion{
    width: 90%;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.QuestionNumber_Add{
    display: flex;
    justify-content: center;
    align-items: center;
}
.QuestionNumber{
    width: 4vw;
    height: 4vw;
    color: #9F9F9F;
    border-radius: 50% ;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 0px #00000026;
    margin-right: 18px;
    position: relative;
}

.Cross{
    position: absolute;
    right: 4%;
    top:4%;
    width: 1vw;
    height: 1vw;
   
}
.Plus{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.Plus img{
    width: 1.2vw;
    height: 1.2vw;
}
.MaxQuestion{
    font-family: Poppins;
font-size: 1.2vw;
font-weight: 500;
line-height: 30px;
text-align: center;
color: #9F9F9F;

}
.Poll{
    width: 88%;
    height: 8%;
    display: flex;
    align-items: center;
    padding-left: 1vw;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 0px #00000026;
    font-family: Poppins;
font-size: 1.2vw;
font-weight: 500;
line-height: 30px;
color: #9F9F9F;
background-color: white;
margin-right: 7%;
}
.Poll::placeholder{
    color: #9F9F9F;
}

.OptionTypeInput{
    display: flex;
    justify-content: left;
    align-items: center;
    width:10%;
    height: 20%;

    font-family: Poppins;
font-size: 1vw;
font-weight: 500;
line-height: 30px;
text-align: center;
color: #9F9F9F;

}
label{
    display: flex;
    justify-content: space-between;
    align-items: center;
  width:20%;
}

.Option{
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.CreateBtn{
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    
}

.CreateBtn p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18vw;
    height:7vh;
    border-radius: 10px;

    font-family: Poppins;
font-size: 1.2vw;
font-weight: 600;
line-height: 31.5px;


}


.OptionType{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 10%;
color: #9F9F9F;
}
.Inputs{
    width: 45vw;
    height: 10vh;
}
.Inputs input{

    background-color: white;
    color: #9F9F9F;
    cursor: text;
    z-index: 2;
    width:12vw;
    height: 7vh;
    box-shadow: 0px 0px 25px 0px #00000026;
    border-radius: 10px;
    font-family: Poppins;
font-size: 1.3vw;
font-weight: 500;
line-height: 30px;



}

.Inputs input::placeholder{
    color: #9F9F9F;
}
.Delete{
    z-index: 1;
    width: 1.3vw;
    height: 1.5vw;
    margin-left: 1vw;

}
.Timer{

    width: 15%;
    height:85%;
    display: flex;
    flex-direction: column;
    align-items: center;
 
    font-family: Poppins;
font-size: 1.3vw;
font-weight: 500;
line-height: 30px;
color: #9F9F9F;

}
.Timer p{
    margin-bottom: -.5vh;
    margin-top: 6vh;
}
.Timer button{
   width: 6vw;
   height: 3.2vw;
   box-shadow: 0px 0px 15px 0px #00000026;
    margin-top: 1.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.optionInputs{

    width: 80%;
    display: flex;
    flex-direction: column;
   justify-content: space-evenly;

  
}


 .container {
  
 
 
    position: relative;
    padding-left: 2vw;
    
    cursor: pointer;
    font-family: Poppins;

font-weight: 500;
line-height: 30px;
text-align: left;

    font-size: 1.2vw;

   
  }
  
 .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: .3vh;
    left: 0;
    height: 1.3vw;
    width:  1.3vw;
    background-color: #eee;
    border-radius: 50%;
    border: 2px solid #7a7a7a;
  }
  
  /* On mouse-over, add a grey background color */
 
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #eee;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
   .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
 .container .checkmark:after {
       top: 16%;
      left: 16%;
      width: .9vw;
      height: .9vw;
      border-radius: 50%;
      background: #353434;
  }


  .PollBg{
    background-color: #60B84B;
    color: white;
    box-shadow: 0;
}
.timerColor{
    background-color: #D60000;
    color: white;
}
